:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}

.wrapper {
  height: 80%;
}

.canvas-wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
